.booking-form-container {
  background-color: #ffffff; /* Set background color to white */
  padding: 20px; /* Adjust padding for better spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  color: #000; /* Set text color to black for better visibility */
  box-sizing: border-box; /* Include padding and border in the total width and height */
}

label {
  display: block;
  margin-bottom: 1px; /* Increase margin for better spacing */
  color: gold;
  resize: none; /* Prevent textarea from being resized */
  min-height: 30px; /* Set a minimum fixed height for the textarea */
  max-height: 30px;
}

input,
textarea {
  width: calc(
    100% - 12px
  ); /* Adjust width calculation to consider padding and border */
  padding: 8px;
  margin-bottom: 2px; /* Increase margin for better spacing */
  box-sizing: border-box;
  border: 1px solid #ccc; /* Update border color for contrast with white background */
  border-radius: 4px;
  resize: none; /* Prevent textarea from being resized */
  min-height: 50px; /* Set a minimum fixed height for the textarea */
  max-height: 50px; /* Set a maximum fixed height for the textarea */
}

button {
  width: 100%; /* Make the button full width */
  padding: 10px;
  font-size: 12px; /* Increase font size for better visibility */
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px; /* Increase margin for better spacing */
  color: gold;
}

.booking_heading {
  background-color: #3498db;
  color: #fff;
  padding: 8px;
  border-radius: 11px;
  border: 3px solid #2980b9;
}

.best {
  color: aqua;
}

.submitBtn {
  background: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:hover {
  background: darkgreen;
}
